@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.secaoProdutos {
    text-align: center;
    padding: 40px 0;
}

.secaoProdutos h2 {
    font-size: 1.8em;
    color: #F7931E;
    margin-bottom: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.carouselContent {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.carouselImage{
    width: 30vw;
    height: 40%;
    object-fit: cover;
    border-radius: 10px;
}

.carouselText {
    text-align: left;
    padding-left: 20px;
    max-width: 35%;
    margin-left: 50px;
}

.carouselText h3 {
    font-size: 1.7em;
    color: #00A54F;
}

.carouselText h5 {
    font-size: 1.3em;
    color: #7D7D7D;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 15px;
}

.carouselText p {
    font-size: 1.4em;
    color: #333;
}

.carouselNextIcon,
.carouselPrevIcon {
    background-color: #009739;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .customCarouselIndicators {
    margin-top: 50px;
} */